nav.indigo.accent-2
  div.nav-wrapper
    a.brand-logo(href="/") Hackathon App
    ul#nav-mobile.right.hide-on-med-and-down
         li
           a(href='#') Home
         li
           a(href='#') Topics
         li
           a(href='#') About
